@using System.Globalization
@model IEnumerable<Recipe>

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function loadXMLDoc(filename) {
        var xhttp = new XMLHttpRequest();
        var serverDir = '@Server.MapPath("~/App_Data/").Replace(@"\", @"\\")';

        xhttp.open("GET", serverDir + filename, false);
        xhttp.send("");

        return xhttp.responseXML;
    }

    function xslTransform(transformer, xml) {
        var xsl = loadXMLDoc(transformer);

        var xsltProcessor = new XSLTProcessor();
        xsltProcessor.importStylesheet(xsl);

        return xsltProcessor.transformToFragment(xml, document);
    }

    function displayNutritionFact(factId, ingredientQuantity, ingredientUnits) {
        $.ajax({
            url: "@Url.Action("LoadNutritionFactHtml")",
            type: "GET",
            data: {
                factId: factId,
                quantity: ingredientQuantity,
                units: ingredientUnits
            },
            success: function (xhtml) {
                $('#nutritionFactContent').html(xhtml);
                $('#nutritionFactModal').modal();
            }
        });
    }

    $(function () {
        $('.ingredients').click(function () {
            var nutritionFactRecipePair = $(this).attr('id').substring("ingredient_".length);

            var ingredientQuantity = $('#iQty_' + nutritionFactRecipePair).html().replace(',', '.');
            var ingredientUnits = $('#iUnits_' + nutritionFactRecipePair).html();

            var nutritionFactId = nutritionFactRecipePair.split("-")[0];
            displayNutritionFact(nutritionFactId, ingredientQuantity, ingredientUnits);

        });

        $('.summary').click(function() {
            var recipeId = $(this).attr('id').substring("summary_".length);
            $.ajax({
                url: "@Url.Action("LoadRecipeSummaryHtml")",
                type: "GET",
                data: {
                    recipeId: recipeId
                },
                success: function (xhtml) {
                    $('#nutritionFactContent').html(xhtml);
                    $('#nutritionFactModal').modal();
                }
            });
        });

        $('.edit').click(function() {
            var recipeId = $(this).attr('id').substring("edit_".length);
            window.location = "@Url.Action("Edit", "Recipes")/" + recipeId;
        });

        $('.delete').click(function() {
            var recipeId = $(this).attr('id').substring("delete_".length);
            window.location = "@Url.Action("Delete", "Recipes")/" + recipeId;
        });

        $('.downloadRecipe').click(function() {
            var recipeId = $(this).attr('id').substring("download_".length);

            window.location = "@Url.Action("DownloadRecipePdf")?recipeId=" + recipeId;
        });
    });
</script>

@foreach (var recipe in Model)
{
    var recipeId = recipe.id;
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading row" role="tab" id="heading_@recipeId">
                <div class="col-md-7">
                    <h4>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@recipeId" aria-expanded="true" aria-controls="collapse_@recipeId">
                            @Html.DisplayFor(modelItem => recipe.title)
                        </a>
                    </h4>
                </div>
                <div class="col-md-1">
                    <button id="edit_@recipeId" type="button" class="btn btn-default edit" aria-label="Left Align">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                    </button>
                </div>
                <div class="col-md-1">
                    <button id="delete_@recipeId" type="button" class="btn btn-default delete" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </button>
                </div>
                <div class="col-md-2">
                    <button id="summary_@recipeId" type="button" class="btn btn-default summary" aria-label="Left Align">
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Nutritional values
                    </button>
                </div>
                <div class="col-md-1">
                    <button id="download_@recipeId" type="button" class="btn btn-default downloadRecipe" aria-label="Left Align">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Pdf
                    </button>
                </div>
            </div>
            <div id="collapse_@recipeId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@recipeId">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Servings</h3></div>
                        <div class="panel-body">
                            Makes @recipe.portions servings.
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Preparation time</h3></div>
                        <div class="panel-body">
                            @recipe.preparationTime.time @recipe.preparationTime.units
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">Ingredients</h3></div>
                        <div class="panel-body">
                            <div class="list-group">
                                @foreach (var ingredient in recipe.ingredients)
                                {
                                    <a href="javascript:void(0)" id="ingredient_@ingredient.NutritionFactId-@recipeId" class="list-group-item ingredients">
                                        <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => ingredient.name)</h4>
                                        <p class="list-group-item-text">
                                            <span id="iQty_@ingredient.NutritionFactId-@recipeId">@ingredient.quantity</span>&nbsp;
                                            <span id="iUnits_@ingredient.NutritionFactId-@recipeId">@ingredient.units</span>
                                        </p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Method</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                @foreach (var section in recipe.content)
                                {
                                    <div class="list-group-item">
                                        <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => section.name)</h4>
                                        <p class="list-group-item-text">@Html.DisplayFor(modelItem => section.SectionText)</p>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="nutritionFactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nutritional facts</h4>
            </div>
            <div id="nutritionFactContent" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


